DateTime in format "MM/DD hh:mm:ss": <b><% DATETIME {{FORMAT=MM/DD hh:mm:ss}} %></b>

<% ReportResult

{{Header=
<table>
    <tr>
        <th>~Column1</th>
        <th>~Column2</th>
    </tr>
}}

{{Footer=
</table>
}}

%>
